.container-fluid{
    padding: 0;
}

.navbar{
    padding-left:2vw;
    padding-right:2vw;
}

img{
    float: left;
    width:  100px;
    height: 325px;
    object-fit: cover;
}

#form{
    padding-top:10px;
}

#cards1{
    padding-top:10px;
}